---
import NewCard from "../components/NewCard";
import Layout from "../layouts/Layout.astro";

import type { Posts } from "../data/posts";

const postsList = (await fetch(
  `${import.meta.env.API_URL}/resources/getPosts`
).then((res) => res.json())) as { posts: Posts };
---

<Layout title="Astro Blog">
  <main class="container mx-auto py-8 px-6 h-full">
    <div class="grid grid-cols-3 gap-8">
      {
        postsList.posts.map(({ title, body, slug, author }) => {
          return (
            <NewCard
              src={`/images/${slug}.jpeg`}
              title={title}
              body={body.slice(0, 120)}
              href={`/posts/${slug}`}
              author={author}
            />
          );
        })
      }
    </div>
  </main>
</Layout>
