---
export interface Props {
  title: string;
  author: string;
  body: string;
  href: string;
  src: string;
}

const lorem = `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget lacus eu
    tellus consequat viverra. Nulla facilisi. Fusce consectetur elit id urna
    accumsan, in laoreet velit vehicula.`;

const { href, title, author, body = lorem, src } = Astro.props;
---

<div class="bg-white rounded-lg shadow-md p-4">
  <img class="w-full rounded-lg shadow-md" src={src} alt="Article image" />
  <div class="mt-4">
    <h2 class="text-2xl font-bold text-gray-800">{title}</h2>
    <p class="text-gray-600 text-sm mt-2">Written by {author}</p>
    <p class="text-gray-700 mt-4">{body}</p>
  </div>
  <div class="mt-4">
    <a
      class="bg-blue-500 text-white rounded-full px-4 py-2 hover:bg-blue-600"
      href={href}>Read More</a
    >
  </div>
</div>
